<h1 class="text-center">{{ title }}</h1>
<p ng-hide="planes">Loading Zoids...</p>

<div class="input-group" ng-submit="searchPlane()">
  <input type="text" class="form-control" ng-model="searchWord" placeholder="Find a Zoid by">
  <span class="input-group-btn">
    <button class="btn btn-success" type="button">Search</button>
  </span>
</div>



<div class="text-center" ng-repeat="p in planes | filter: searchWord track by $index ">
    <h3>{{ p.model }}</h3>
    <a class="btn btn-info btn-sm" ng-href="/plane/{{ p._id }}">Details</a>

</div>